name: Build & Deploy

on:
  push:
    tags:
      - "v*"

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Image Name
        id: vars
        run: |
          echo "image=ghcr.io/${{ github.repository_owner }}/koda-b4-backend-node" >> $GITHUB_OUTPUT

      - name: Build Docker Image
        run: |
          VERSION=${GITHUB_SHA::7}
          docker build \
            -t ${{ steps.vars.outputs.image }}:latest \
            -t ${{ steps.vars.outputs.image }}:$VERSION .

      - name: Push Docker Image
        run: |
          VERSION=${GITHUB_SHA::7}
          docker push ${{ steps.vars.outputs.image }}:latest
          docker push ${{ steps.vars.outputs.image }}:$VERSION

  deploy:
    needs: build_and_push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ~/server
            docker compose -f /home/sidik/server/express/docker-compose.yaml down -v
            docker compose -f /home/sidik/server/express/docker-compose.yaml pull
            docker compose -f /home/sidik/server/express/docker-compose.yaml up -d
            docker system prune -af --volumes
            echo "Deployment complete."
